node_modules/
**/node_modules/

.env
# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/


Thumbs.db

# npm package lock files (bạn có thể giữ 1 trong 2 nếu thích)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Temp
*.tmp
*.temp

# Coverage
coverage/
docker-compose.override.yml
